*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: gray;
}
.Nav{
    width: 100%;
    height: 70px;
    background-color: black;
}
.section-one,.section-two,.section-three,.section-four,.section-five{
    padding: 21px;
    font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 1.5rem;
    color: black;

}
ol{
    padding-left: 22px;
    color: chartreuse;
}
.navbar {
    margin-bottom: 0px;
}
@media(max-width:480px){
   ol{
      color: blue;
      margin-left: 21px;
    }
}